[phases.setup]
nixPkgs = ["dotnet-sdk_8"]

[phases.build]
cmds = [
    "dotnet restore checkpoint-web/checkpoint-web.csproj",
    "dotnet build checkpoint-web/checkpoint-web.csproj -c Release --no-restore",
    "dotnet publish checkpoint-web/checkpoint-web.csproj -c Release -o /app/publish --no-build"
]

[start]
cmd = "cd /app/publish && dotnet checkpoint-web.dll"

[variables]
ASPNETCORE_URLS = "http://0.0.0.0:$PORT"
