@page
@model checkpoint_web.Pages.Account.LogoutModel
@{
 Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container mt-3">
 <h3>Saliendo...</h3>
 <p>Si no se redirige automáticamente, <a asp-page="/Account/Logout">haz clic aquí</a> para terminar sesión.</p>
</div>
