@page
@model checkpoint_web.Pages.Account.LogoutModel
@{
 Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="container mt-3">
 <h3>Saliendo...</h3>
 <p>Si no se redirige autom&eacute;ticamente, <a asp-page="/Account/Logout">haz clic aqu&iacute;</a> para terminar sesi&oacute;n.</p>
</div>
